*
{
    font-family: 'Abel', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #24252A;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #2b2c30;
}

a
{
    background-color: #2b2c30;
}

ul
{
    background-color: #2b2c30;
}

li
{
    background-color: #2b2c30;
}

.nav-links
{
    list-style: none;
    text-decoration: none;
}

.nav-links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li:nth-child(1)
{
    padding: 0px 20px 0px 0px;
}

.nav-links li a
{
    transition: all 0.3s ease 0s;
}

button
{
    padding: 9px 25px;
    background-color: rgb(163, 9, 9);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:white;
    margin-right:30px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.15);


    
}

button:hover
{
    background-color: rgb(111, 18, 18);
    color: white;
    font-weight:bold;
    transition:background-color 0.3s;
}

.logo
{
    cursor: pointer;
    margin-left:20px;
    background-color: transparent;
}
a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: rgb(163, 9, 9);
    transition: all 0.3s ease 0s;
}


.text-flex
{
    display: flex;
    justify-content: center;
}

.caption1
{
    text-align: center;
    font-size: 18px;
    justify-content: center;
    color: white;
}


.vex-text
{
    font-size: 80px;
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 350px;
    justify-content: center;
}

.image-text1
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: 520px;
    margin-top: 0px;
    width: 1000%;
}

.image-text2
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: 850px;
    margin-top: -300px;
}

.sub-text1
{
    margin-right: 250px;
}

.sub-text2
{
    margin-left: 250px;
    margin-bottom: 40px;
}

#center-text
{
    width: 450px;
    margin: 100px 100px 100px 100px;
    text-align: center;
    overflow-wrap: break-word;
    color: white;
    font-size: 100px;
}

.outreach-flex
{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    width: 1500px;
}

.subtext-flex
{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 400px;
}

.description-text
{
    width: 400px;
    margin-left: 320px;
}

.learn-text
{
    width: 400px;
    margin-left: 950px;
    margin-top: -120px;
}

.image-text
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: -150px;
}

#bruh-text
{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
#bruh-text1
{
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    overflow-wrap: break-word;
}
footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #24252A;
}

.foot
{
    color: white;
    justify-content: center;
    margin-left: 780px;
}

.footer-box{
    position:absolute;
    background:black;
    margin-top:30px;
    width:70%;
    height: 2px;
    z-index:-1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.foot-1
{
    color: white;
    position:absolute;
    text-align:center;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;
    left: 0;
    right: 0;
    font-size:15px;
    background-color:transparent;
    z-index:0;
}

.foot-2
{
    
    color: white;
    position:absolute;
    text-align:right;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;
    left: 0;
    right: 15.3%;
    font-size:15px;
    background-color:transparent;
    z-index:0;
}

.foot-3
{
    padding-bottom:20px;
    color: white;
    position:absolute;
    text-align:left;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left: 15.3%;
    font-size:15px;
    background-color:transparent;
    z-index:0;
}

.container
{
    top: 0%;
    left:50%;
    height: 500px;
    width: 800px;
    background: red;
    margin-bottom: -90px;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    margin-top: 300px;
}
.navigator
{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    background-color: transparent;
}
.navigator .bar
{
    height: 5px;
    width: 45px;
    background: #100f0f;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 8px;
    box-shadow: 2px 2px 6px #fff, -2px -2px 6px #fff;
}

.navigator .bar:hover
{
    background: #fff;
}

input[type = "radio"]
{
    /*position: absolute;*/ 
    visibility: hidden;
}
.slides
{
    display: flex;
    height: 100%;
    width: 500%;
}

.image{
    width: 20%;
    transition: 0.4s ease;

}
img{
    background-color: transparent;
}

#btn1:checked ~ .first
{
    margin-left: -3%;
}
#btn2:checked ~ .first
{
    margin-left: -22%;
}
#btn3:checked ~ .first
{
    margin-left: -41%;
}
#btn4:checked ~ .first
{
    margin-left: -61%;
}

.esha
{
    width: 60vw;
    height: 70vh;
    margin-left: 18%;
    object-fit: cover;
}

img#break {
    width: 100%;
    height: 100%;
 }

 .bedder
{
    font-size: 20px;
}
